#lightbulb {
    font-size: 100px;
    display: block;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 10px 0;
}

.chat-user-avatar {
    font-size: 40px;
    background: #ccc;
    padding: 5px 10px;
}

.feature-icon {
    font-size: 44px;
    padding: 0;
    line-height: 64px;
    width: 64px;
    text-align: center;
    opacity: .8;
}

.app-content-loading {
    text-align: center;
    height: 100%;
    width: 100%;
    background: #fff;
    position: relative;
}

.loading-spinner {
    position: absolute;
    font-size: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
}

.carousel-example-content {
    position: absolute;
    font-size: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    top: 50%;
    margin-top: -50px;
}


.carousel .item {
    color: #444;
    background: #f4f4f4;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}


.carousel {
    padding: 20px;
    overflow: visible;
}

.carousel-inner {
    position: relative;
    overflow: visible;

}

.carousel-inner>.item {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.carousel-inner>.item:first-child {
    z-index: 1998;
}

.carousel-inner>.item.active {
    z-index: 2000;
}

.carousel-inner>.item.active + .item {
    z-index: 1999;
}