<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>LolMe - {% block title %}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
        <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
        {% stylesheets  'bower/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css'
                        'bower/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css'
                        'bower/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css'
                        'bundles/lolme/css/main.css'

        output='css/compiled/all.css'
        filter='cssrewrite,?uglifycss'
        %}

        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        {% block stylesheetsDynamic %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="lolMe" ng-controller="MainController">
        {% block content %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-touch.min.js"></script>
        {% javascripts  'bower/mobile-angular-ui/dist/js/mobile-angular-ui.min.js'
                        'bundles/lolme/js/main.js'

            output='js/compiled/all.js'
            filter='?uglifyjs2'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
