{% extends '::base.html.twig' %}

{% block content %}
    <!-- Sidebars -->
    <div ng-include="'sidebar.html'" class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"></div>


    <div class="app">

        <!-- Navbars -->

        <div class="navbar navbar-app navbar-absolute-top">
            <div class="navbar-brand navbar-brand-center" yield-to="title">
                <span>Mobile Angular UI</span>
            </div>
            <div class="btn-group pull-left">
                <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                    <i class="fa fa-bars"></i> Menu
                </div>
            </div>
            <div class="btn-group pull-right" yield-to="navbarAction">
                <div ng-click="toggle('rightSidebar')" class="btn btn-navbar">
                    <i class="fa fa-comment"></i> Chat
                </div>
            </div>
        </div>

        <div class="navbar navbar-app navbar-absolute-bottom">
            <div class="btn-group justified">
                <a href="http://mobileangularui.com/" class="btn btn-navbar"><i class="fa fa-home fa-navbar"></i> Docs</a>
                <a href="https://github.com/mcasimir/mobile-angular-ui" class="btn btn-navbar"><i class="fa fa-github fa-navbar"></i> Sources</a>
                <a href="https://github.com/mcasimir/mobile-angular-ui/issues" class="btn btn-navbar"><i class="fa fa-exclamation-circle fa-navbar"></i> Issues</a>
            </div>
        </div>

        <!-- App Body -->
        <div class="app-body" ng-class="{loading: loading}">
            <div ng-show="loading" class="app-content-loading">
                <i class="fa fa-spinner fa-spin loading-spinner"></i>
            </div>

            <ng-view class="app-content" ng-hide="loading"></ng-view>
        </div>

    </div><!-- ~ .app -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts 'bundles/lolme/js/src/lolmeapp.js'

        output='js/compiled/lolme.js'
        filter='?uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
